# workforce

In [1]:
import bluebelt as blue
import numpy as np
import pandas as pd

In [8]:
series = blue.create.series(1)

- aantal
- min
- max
- periode

In [2]:
class Workforce:
    def __init__(self):
        self._obj = pd.DataFrame()
        #self._obj = _obj

    def add_perm(self, series, name=None):
        if name:
            self._obj[name] = series

In [3]:
wf = Workforce()

In [6]:
type(wf._obj)

pandas.core.frame.DataFrame

In [13]:
wf.add_perm(series, name='test')

In [14]:
wf._obj

              test
2022-01-03  492.25
2022-01-04  378.75
2022-01-05  454.25
2022-01-06  476.00
2022-01-07  396.00
...            ...
2022-12-28  631.00
2022-12-29  674.75
2022-12-30  694.50
2022-12-31  156.25
2023-01-01   21.25

[364 rows x 1 columns]

In [12]:
wf

TypeError: 'Workforce' object is not callable