In [1]:
import pandas as pd
import numpy as np

In [2]:
n = 100
np.random.seed(27)
series = pd.Series(np.random.weibull(7,n), index=pd.date_range(start='1-1-2020', periods=n), name='main process')

In [3]:
def get_subgroups(series, subgroups=None, subgroup_size=None):
    if subgroups is not None:
        subgroup_size = subgroups.value_counts().max()
        s = pd.Series(index=subgroups, data=series.values)
        groups = [(s[group].append(pd.Series((subgroup_size - len(s[group])) * [np.nan], dtype=float), ignore_index=True)) for group in np.unique(subgroups)]
        return pd.DataFrame(groups).T
    elif subgroup_size is not None:
        series = series.append(pd.Series(((subgroup_size - series.size) % subgroup_size) * [np.NaN], dtype=float), ignore_index=True)
        return pd.DataFrame(series.values.reshape(subgroup_size, int(series.size/subgroup_size)))
    else:
        return series

In [8]:
subgroups = series.index.day

In [9]:
get_subgroups(series, subgroups=subgroups)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,0.919243,1.077400,1.041528,1.106049,0.901393,1.213954,1.121877,0.813295,1.044260,1.012135,...,0.865599,1.062556,0.781365,0.688396,1.027308,0.794397,0.987172,0.914909,0.954281,0.820008
1,1.037399,1.095481,1.148981,1.041758,0.939774,0.946203,0.985480,0.695959,0.742972,1.190797,...,0.956891,1.111702,1.144712,0.944764,0.986132,0.844722,1.250913,0.813721,0.954591,1.035558
2,0.981194,1.006539,1.134488,0.746941,1.017157,1.049827,1.134160,0.832297,1.206116,0.864891,...,1.216729,0.803278,1.095588,0.933024,0.802271,0.787517,0.933379,0.820389,NaN,NaN
3,1.171394,0.622100,1.221744,1.043230,0.795925,1.085346,0.953176,1.030811,1.038286,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN