In [16]:
import pandas as pd
import numpy as np
import bluebelt as blue
import math

In [17]:
nrows = 100
ncols = 6

np.random.seed(27)
series = pd.Series(np.random.weibull(7,nrows) * 100, index=pd.date_range(start='1-1-2020', periods=nrows), name='process A')
frame = pd.DataFrame(np.random.randint(100,200,ncols*nrows).reshape(nrows, ncols), index=pd.date_range(start='1-1-2020', periods=nrows), columns=[f'process {col}' for col in range(1, ncols+1)])

In [63]:
def subseries_count(s1, s2):
    s1 = pd.Series(s1)
    s2 = pd.DataFrame(s2.T)
    results = np.empty(0)
    
    for dim in range(s2.shape[1]):

        result=s1.sum()*s2[dim].sum()

        for i in range(len(s2[dim]), 0, -1):
            # let op, hieronder de > 0 toegevoegd als in s1[s1>0] en s2[dim][s2[dim]>0] om errors te voorkomen
            # nog toevoegen dat als s2 ongelijk is aanvullen met nullen [[8,8,8,8],[4,4,8,8,8]] => [[0,8,8,8,8],[4,4,8,8,8]]
            #
            # laatste 0 rij oplossen
            #
            #
            result = min(result, math.floor(s1[s1>0].nsmallest(len(s1) - len(s2[dim]) + i).sum() / s2[dim][s2[dim]>0].nsmallest(i).sum()))
        results = np.append(results, result)
    return results

In [64]:
arr=np.array([[0,0,8,8,8],[4,4,0,8,8],[4,4,4,4,8]])

In [73]:
pd.DataFrame.from_records(series.blue.data.group_index().result.apply(lambda x: subseries_count(x, arr)).values)

       0     1     2
0   11.0  16.0  21.0
1   21.0  25.0  30.0
2   18.0  22.0  27.0
3   15.0  20.0  24.0
4   18.0  22.0  27.0
5   17.0  22.0  27.0
6   18.0  22.0  27.0
7   19.0  24.0  29.0
8   19.0  23.0  29.0
9   19.0  24.0  28.0
10  19.0  24.0  29.0
11  16.0  20.0  25.0
12  17.0  21.0  25.0
13  18.0  23.0  28.0
14   0.0   0.0   0.0

In [79]:
series.blue.data.group_index().result.apply(lambda x: subseries_count(x, np.array([8,8,8,8])))

2020-01    [15.0]
2020-02    [23.0]
2020-03    [20.0]
2020-04    [18.0]
2020-05    [20.0]
2020-06    [20.0]
2020-07    [20.0]
2020-08    [21.0]
2020-09    [21.0]
2020-10    [21.0]
2020-11    [21.0]
2020-12    [19.0]
2020-13    [19.0]
2020-14    [21.0]
2020-15    [11.0]
Name: process A, dtype: object

In [80]:
series.blue.data.group_index().result.apply(lambda x: subseries_count(x, np.array([4,8,8,8])))

2020-01    [18.0]
2020-02    [26.0]
2020-03    [23.0]
2020-04    [21.0]
2020-05    [23.0]
2020-06    [23.0]
2020-07    [23.0]
2020-08    [25.0]
2020-09    [24.0]
2020-10    [24.0]
2020-11    [25.0]
2020-12    [21.0]
2020-13    [22.0]
2020-14    [24.0]
2020-15    [14.0]
Name: process A, dtype: object

In [33]:
# volgende stap is X van minimum uit bovenstaande naar maximum uit bovenstaande een loop om de
# totale afwijking te meten
# afwijking is wanneer X buiten de range van bovenstaande valt

2

In [20]:
subseries_count(series, x)

AttributeError: 'numpy.ndarray' object has no attribute 'nsmallest'